.PluginMetadataPanel {
    font-size: inherit;
    line-height: inherit;

    &__settingsWrapper {
        margin-bottom: 16px;
    }

    &__idWrapper {
        display: inline-flex;
        align-items: center;
        gap: 2px;
        vertical-align: baseline;
    }

    &__copy.post-code__clipboard {
        position: relative;
        top: 1px;
        width: 18px;
        height: 18px;

        > i {
            margin-top: 0;
            margin-left: 0;
            font-size: 14px;
        }
    }
}
