.PluginMetadataPanel {
    font-size: inherit;
    line-height: inherit;

    &__settingsWrapper {
        margin-bottom: 16px;
    }

    &__metadata {
        color: rgba(var(--center-channel-color-rgb), 0.64);
        font-size: 0.9em;

        a {
            color: var(--link-color);
        }
    }

    &__id {
        font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
        cursor: pointer;

        &:hover {
            color: var(--link-color);
        }
    }
}
